.App {
  box-sizing: border-box;  
  text-align: center;
  display: flex;
}

.overlay {
  display: block;
  position: fixed; /* Sit on top of the page content */
  color: black;
  background-image: url("../../images/loading.gif");
  background-repeat: no-repeat;
  background-position: center 40%;
  background-size: 100px 100px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    229,
    242,
    255,
    0.85
  ); /* Black background with opacity */
  z-index: 99; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.hideOverlay {
  display: none;
}
.overlay > div {
  padding: 10%;
}
.critical{
  color: red;
}
#DARKMODE {
  background-color: #343a40;
  .btn-primary {
    background-color: #6c757d;
  }

  .nav-link, label{
    color:#f8f9fa;
  }
  .nav-link.active{
    color:var(--bs-card-cap-color);;
  }
}

#LIGHTMODE {
  .card {
    background-color: #f8f9fa;
  }
}
.footer{
  padding: 10px 0px;
}